<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

  {% include header.html %}

  <div class="wrapper">
    <section>
      <div class="container">
        {{ content }}
      </div>
    </section>
    <footer>
      <ul>
        <li><a href="mailto:ogenodisho@gmail.com">email</a></li>
        <li><a href="https://github.com/ogenodisho">github.com/ogenodisho</a></li>
      </ul>
    </footer>
  </div>

  <script id="dsq-count-scr" src="//ogenodisho.disqus.com/count.js" async></script>
</body>

</html>
